<!DOCTYPE html>
<html>
<head>
	<title>{{ constant('APP_INFO').name }} - Error PHP</title>
</head>
<body>
	<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
		<h4>A PHP Error was encountered</h4>
		<p>Severity: {{ severity }}</p>
		<p>Message: {{ message }}</p>
		<p>Filename: {{ filepath }}</p>
		<p>Line: {{ line }}</p>

		{% if constant('SHOW_DEBUG_BACKTRACE') is defined and constant('SHOW_DEBUG_BACKTRACE') == TRUE %}
			Backtrace :
			<ul>
				{% for error in debug_backtrace() %}
					<li>
						{% if error.file is defined %}
							<p>
								File: {{ error.file }}<br>
								Line: {{ error.line }}<br>
								Function: {{ error.function }}
							</p>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</body>
</html>