{% extends 'base.twig' %}

{% block begin_head %}
	{{ 
		themes.seo
		.add_meta_tag({'http-equiv':'Content-Type', 'content':'text/html'}, {'charset':'utf-8'})
		.add_meta_tag({'http-equiv':'Content-Type', 'content':'text/html'}, {'charset':'ISO-8859-1'})
		.render
	}}
{% endblock %}

{% block title %}{{ lang('welcome_to') ~ ' ' ~ constant('APP_INFO').name }}{% endblock %}

{% block cease_head %}{% endblock %}

{% block content %}
<div id="container">
	<h1>{{ lang('welcome_to') ~ ' ' ~ constant('APP_INFO').name }}!</h1>
	<div id="body">
		<p>{{ lang('welcome_message_1') }} {{ constant('APP_INFO').name }}.</p>

		<p>{{ lang('welcome_message_2') }}</p>
		<code>application/themes/site/default/home.twig</code>

		<p>{{ lang('welcome_message_3') }}</p>
		<code>application/modules/site/controllers/Site.php</code>

		<p>{{ lang('welcome_message_4') }} <a href="user_guide/">{{ lang('user_guide') }}</a>.</p>
	</div>
	<textarea id="ckeditor4" rows="10" cols="80">{{ lang('ckeditor_content_text') }}</textarea>
	<p class="footer">
		<span style="float:left;">{{ lang('page_rendered_in') }} <strong>{elapsed_time}</strong> {{ lang('seconds') }}.</span> 
		{{ constant('APP_INFO').name }} Version {{ constant('APP_INFO').version }} | Codeigniter Version {{ constant('CI_VERSION') }}
	</p>
</div>
{% endblock %}

{% block begin_footer %}
	<script type="text/javascript" src="{{ base_url('assets/plugin/ckeditor4/ckeditor.js') }}"></script>
	<script type="text/javascript">
	var module_link = '{{ module_link() }}';
	CKEDITOR.replace('ckeditor4', {
		filebrowserBrowseUrl:module_link+'site/filemanager?config=angeli.json'
	});
	</script>
{% endblock %}